
# Default ignored files
/.idea/shelf/
/workspace.xml
# Ignore compiled class files
*.class

# Ignore IntelliJ/IDEA output folders
/out/
/out/*

# IntelliJ project files
.idea/
*.iml

# Build output
out/
target/
build/

